
@import 'variables.less';

body {
    padding: 30px 0;
    background: #ddd;
}

a {
    color: @BLUE;

    &:hover {
        color: @GRAY;
        text-decoration: underline;
    }

    &:active {
        color: @BLUE;
    }
}
