@import 'mixins.less';

// Modules

.product-show {
    margin: 0;
    padding: 0;
    opacity: 0.6;

    li {
        float: left;
        width: 130px;
        height: 130px;
        display: block;
        position: relative;

        span {
            position: absolute;
            background-size: 234px 234px;
            background-position: 50% 50%;
            width: 100%;
            height: 100%;
            // height: 0;
            top: 0;
            left: 0;
        }
    }
}

#search {
    position: absolute;
    left: 50px;
    top: 200px;
    width: 750px;
    background: rgba(0,0,0,0.8);
    padding: 30px;

    input[type="search"] {
        width: 96%;
        font-size: 40px;
        border: none;
        margin: 0;
        outline: none;
        padding: 2%;
    }
}

.search-results {
    background: #eee;
    padding: 30px 20px;
    border-top: solid 1px rgba(0,0,0,0.5);
    margin-bottom: 80px;
    .box-shadow(0px 1px 2px rgba(0,0,0,0.8));

    h2 {
        margin: 0 0 20px;
    }

    & > ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;

        & > li {
            overflow: hidden;
            margin: 0 0 30px;
            float: left;
            width: 50%;
            min-height: 280px;

            h3 {
                color: #333;
                font-weight: normal;
                margin: 0 0 10px;
                width: 180px;
                max-height: 45px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                color: #666;
                font-size: 14px;
                line-height: 20px;
            }
        }

        .where-to-buy {
            text-decoration: none;
            font-size: 13px;
            #gradient .vertical(#fff, 0%, #ddd, 100%);
            border: solid 1px rgba(0,0,0,0.2);
            color: #333;
            padding: 4px 20px;
            text-transform: uppercase;
            border-radius: 30px;

            &:hover {
                #gradient .vertical(#fff, 0%, #ccc, 100%);
                color: #000;
                cursor: pointer;
            }
        }

        img {
            float: left;
            .box-shadow(0px 0px 5px rgba(0,0,0,0.8));
            margin: 5px 30px 5px 5px;
            padding: 20px 0;
            width: 200px;
            background: #fff;
        }
    }

    .pagination {
        overflow: hidden;
    }
}

.product-detail {
    background: #eee;
    padding: 30px 20px;
    border-top: solid 1px rgba(0,0,0,0.5);
    margin-bottom: 80px;
    .box-shadow(0px 1px 2px rgba(0,0,0,0.8));

    ul, li {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .stores {
        overflow: hidden;

        & > li {
            padding: 20px;
            width: 230px;
            margin: 5px 5px 20px;
            min-height: 180px;
            float: left;
            background: #fff;
            .box-shadow(0px 0px 5px rgba(0,0,0,0.8));
            font-size: 13px;
            line-height: 20px;

            &:nth-child(3n+2) {
                margin: 5px 20px 20px;
            }

            h3 {
                margin: 0 0 10px;
            }
        }
    }
}

.btn {
    text-decoration: none;
    font-size: 13px;
    #gradient .vertical(#fff, 0%, #ddd, 100%);
    border: solid 1px rgba(0,0,0,0.2);
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;

    &:hover {
        #gradient .vertical(#fff, 0%, #ccc, 100%);
        color: #000;
        cursor: pointer;
        text-decoration: none;
    }
}

.hidden {
    display: none;
}
